
.img-wrap {
  position: relative;
}

.text {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  bottom: 15%;
  width: 100%;
  color: white;
}

.square_btn {
  background-color: transparent;
  border: 3px solid black;
  height: 50px;
  width: 150px;
  padding: 0;
}

.br-green :hover {
  background-color: rgb(0, 136, 122);
  color: white;
}

.green_outline {
  border: 2px solid rgb(0, 136, 122);
  margin-top: 3px;
  margin-bottom: 3px;
}

.block-grid {

  &:hover {

    background-color: rgb(0, 136, 122) !important;
    color: white;
    //background-color: rgb(255, 119, 133);
    //
    //
    .border-shadow {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .square_btn {
      border-color: white;
      color: white;
    }

    img {
      filter: invert(100%);
    }
  }
}

.photo-after {
  display: inline-block; /* Строчно-блочный элемент */
  position: relative; /* Относительное позиционирование */
}

.photo-after:hover::after {
  content: attr(data-title); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  left: 0;
  right: 0;
  bottom: 5px; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgba(0, 0, 0, 0.45); /* Полупрозрачный цвет фона */
  color: #fff; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  font-family: Roboto, sans-serif; /* Гарнитура шрифта */
  font-size: 16px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  padding-top: 40%;
  height: 100%;

}


header {
  position: relative;
  height: 220px;
  background-color: rgb(57, 73, 171);
  // background-image: linear-gradient(#10197e, #1554cf);
  h2, p {
    color: white;
    padding-top: 50px;
    text-align: center;
  }


  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;

    /* set height to pixels if you want angle to change with screen width */
  }
}

section {
  background-color: white;
  box-shadow: none;

  p {
    font-size: 16pt;
  }
}

.priser {
  padding: 0;
  margin: 0;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    header {
      svg {
        height: 0vw;
      }
    }

    .green_outline {
      background-color: rgb(0, 136, 122);
      color: white;
    }
  }
}

.icon-btn {
  color: #00887a;

  svg {
    width: 100%;
  }

  &:hover {
    color: white;
  }
}

.facebook-icon {
  &:hover {
    background-color: #3949ab;
  }
}

.twitter-icon {
  &:hover {
    background-color: lightblue;
  }
}

.chat-icon {
  &:hover {
    background-color: yellow;
  }
}

.site-icon {
  &:hover {
    background-color: black;

  }
}

.indicators-my-style {

  li {
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00887a;

  }

  .active {
    background-color: #3949ab;
  }
}
.blog{
  display: grid;
}